body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #a06ba5;
    color: #333;
  }
  
  .container {
    max-width: 800px;
    margin: 5rem auto;
    padding: 20px;
    background: #f1bebe;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .dashboard-title {
    display: flex;
    margin: auto;
    width: 45%;
    border: 1px solid rgb(190, 227, 236);
    border-radius: 30%;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    justify-content: center;
    background-color: rgb(245, 249, 250);
    padding: 15px;
    text-align: center;
  }
  
.user-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #eee6cf;
  }
  .user-table th{
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
  }
  
  .user-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .user-table th {
    background-color: #f2f2f2;
  }
  
  .edit-button {
    padding: 5px 10px;
    background-color: #ffc107;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 1rem;
    width: 4rem;
  }
  
  .edit-button:hover {
    background-color: #e0a800;
    
  }
  
  .delete-button {
    padding: 5px 10px;
    background-color: #dc3545;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 4rem;
  }
  
  .delete-button:hover {
    background-color: #c82333;
  }

  .form-section {
    margin-bottom: 20px;
    border: 1px solid rgb(218, 212, 212);
    padding: 5px;
    border-radius: 10px;
    background-color: #a1d9fa;
  }
  
  .form-section-title{
    display: flex;
    justify-content: space-between;
  }
  .form-section-title h2 {
    font-size: 20px;
    margin: 5px;
  }

  .cancle-button{
    padding: 3px 10px;
    background-color: #04AA6D;
    color: #fdfafa;
    margin: 3px;

    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  .cancle-button:hover {
    background-color: #096946;
  }
  
  .form-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 10px;
  }
  
  .input-field {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .submit-button {
    margin-left: 84%;
    margin-top: 10px;
    padding: 10px 15px;
    background-color: #007bff;
    color: #fdfafa;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .submit-button:hover {
    background-color: #0056b3;
  }
  
  .pagination {
    display: flex;
    margin: 3px;
    justify-content: right;
    gap: 5px;
  }
  .page-button {
    padding: 5px 10px;
    border: 1px solid #ccc;
    background: #f2f2f2;
    cursor: pointer;
  }
  .page-button.active {
    background: #007bff;
    color: #fff;
    border-color: #007bff;
  }
  